<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/style.css">
        <script src="static/behavior.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <h3>{{ title }}</h3>
        <p class="first">I'm goin' up the country, baby don't you want to go?</p>
        <p class="first">I'm goin' up the country, baby don't you want to go?</p>
        <p class="first">I'm goin' to some place, I've never been before</p>
        <p class="first">I'm goin' I'm goin' where the water tastes like wine</p>
        <p class="first">I'm goin' where the water tastes like wine</p>
        <p class="first" id="first">We can jump in the water, stay drunk all the time</p>
    </body>
</html>
